.navbar {
    width: 100%;              
    padding: 25px;             
    margin: 0;                 
    text-align: center;
    text-decoration: none;
    background-color: green;   
}
.navbar a{
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    text-transform:capitalize;
    color:white;
    text-decoration: solid;
    text-decoration-color: blue;
}
.navbar a:hover{
    cursor: pointer;
    color: red;
}
.H p{
    color: white;
}
.Routers{
    background-color: green;
}
.img1{
    width: 300px;
    height: auto;
}
.img-half {
    width: 50vw;        /* Set to 50% of the viewport width */
    max-width: 100%;    /* Prevents scaling beyond the natural size of the image */
    height: auto;       /* Maintains the aspect ratio */
}

